<%= render 'layouts/inner_header' %>

<div id="signup">
  <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp"
      data-wow-duration="1200ms" data-wow-delay="300ms">
    <h2>Redefinição Senha </h2>
    <p>Insira sua nova senha</p>
  </div>

  <%= render 'form' %>

  <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <%= f.password_field :password, :placeholder => "Senha" %>
    <%= f.password_field :password_confirmation,
        :placeholder => "Confirmação de senha" %>
    <%= f.submit "Salvar nova senha"%>
  <% end %>
</div>
