<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>NewCap - Ensine e Aprenda</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="#">
</head>

<body>

  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>

  <%= render :template => "new_cap/home"%>

  <section id="participante">
    <div class="container">
      <%= render :template => "new_cap/participante"%>
    </div>
  </section>

  <section id="expositor">
    <div class="container">
      <%= render :template => "new_cap/expositor"%>
    </div>
  </section>

  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Quem somos</h2>
            <p>A NewCap é uma plataforma online que conecta pessoas que queiram aprender com pessoas que queiram ensinar. Criada em fevereiro de 2016 por quatro estudantes brasileiros, a NewCap tem como objetivo facilitar a troca de conhecimento entre pessoas por todo o mundo. </p>
            <p>Todos podem aprender algo com o outro. Não importa se você é um ganhador do prêmio Nobel ou um estudante de graduação. Com a NewCap, qualquer pessoa que queira expor sobre determinado assunto pode ensinar àqueles que estiverem interessados em aprender. </p>
            <p>Toda a intermediação é feita online em nosso site, mas os cursos são presenciais. A NewCap acredita que a melhor forma de assimilar conhecimento é com interação, pois podem ser trabalhadas diferentes formas de inteligência, além de facilitar o networking. A plataforma permite também o financiamento coletivo de projetos para pessoas que não tenham condições de custear, garantindo, assim, que todos tenham acesso ao conhecimento.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="signupcontainer">
    <div class="container">
      <% if logged_in? %>
          <li class="scroll"><%= link_to current_user.complete_name, current_user %></li>
          <li class="scroll"><%= link_to "Log Out", logout_path %></li>
      <% else %>
          <%= render :template => "users/new"%>
      <% end %>
    </div>
  </section>

  <section id="contact">
    <!-- <div id="google-map" class="wow fadeIn" data-latitude="-15.7942287" data-longitude="-47.8821658" data-wow-duration="1000ms" data-wow-delay="400ms"></div> -->
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contato</h2>
            <p>Nos dê a oportunidade de tirar suas dúvidas</p>
              <p>Não seja tímido!</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input name="name" class="form-control" placeholder="Nome" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Endereço de Email" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input name="subject" class="form-control" placeholder="Assunto" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Escreva sua mensagem" required="required"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn-submit">Envie agora</button>
                </div>
              </form>
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>A NewCap está nas redes sociais. Curta nossas páginas e fique por dentro de tudo que acontece na NewCap! </p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Endereço:</span> Brasília </li>
                  <li><i class="fa fa-phone"></i> <span> Telefone:</span> +55 61 92265142  </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:someone@yoursite.com"> support@thenewcap.com</a></li>
                  <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.thenewcap.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
