<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>NewCap - Ensine e Aprenda</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="#">
</head>

<body>

  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>

  <%= render :template => "new_cap/home"%>

  <section id="participante">
    <div class="container">
      <%= render :template => "new_cap/participante"%>
    </div>
  </section>

  <section id="expositor">
    <div class="container">
      <%= render :template => "new_cap/expositor"%>
    </div>
  </section>

  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Quem somos</h2>
            <p>A NewCap é uma plataforma online que conecta pessoas que queiram aprender com pessoas que queiram ensinar. Criada em fevereiro de 2016 por quatro estudantes brasileiros, a NewCap tem como objetivo facilitar a troca de conhecimento entre pessoas por todo o mundo. </p>
            <p>Todos podem aprender algo com o outro. Não importa se você é um ganhador do prêmio Nobel ou um estudante de graduação. Com a NewCap, qualquer pessoa que queira expor sobre determinado assunto pode ensinar àqueles que estiverem interessados em aprender. </p>
            <p>Toda a intermediação é feita online em nosso site, mas os cursos são presenciais. A NewCap acredita que a melhor forma de assimilar conhecimento é com interação, pois podem ser trabalhadas diferentes formas de inteligência, além de facilitar o networking. A plataforma permite também o financiamento coletivo de projetos para pessoas que não tenham condições de custear, garantindo, assim, que todos tenham acesso ao conhecimento.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


<% if !logged_in? %>
  <section id="signupcontainer">
    <div id="signup"class="container">
      <div class="line">
       <div class="col-md-6 quad">
         <div class="row">
           <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp"
               data-wow-duration="1200ms" data-wow-delay="300ms">
             <h2>Registrar</h2>
             <p>Cadastre-se e faça parte da comunidade NewCap!</p>
           </div>

           <%= form_for(@user) do |f| %>
               <div class="buttonHolder">
                   <%= f.text_field :nickname, :placeholder => "Nome de Usuario" %>
                   <%= f.text_field :complete_name, :placeholder =>
                       "Nome Completo" %>
                   <%= f.text_field :email, :placeholder => "E-mail" %>
                   <span style="display: block;text-align: center;font-size: 18px;">
                       Data de nascimento:
                   </span>
                   <%= f.date_field :birthday,  class: 'form-control' %>
                   <%= f.password_field :password, :placeholder => "Senha" %>
                   <%= f.password_field :password_confirmation,
                       :placeholder => "Confirmação de senha" %>
                   <%= f.check_box :terms %>
                   <%= f.label :terms, "Eu aceito os termos de serviço" %>
                   <%= f.submit "Entrar"%>
               </div>
            <% end %>
         </div>
        </div>
        <div class="col-md-6 quad">
          <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp"
                data-wow-duration="1200ms" data-wow-delay="300ms">
              <h2>Login</h2>
              <p>Faça login para acessar sua conta</p>
            </div>

            <%= form_tag sessions_path do %>
                <div class="buttonHolder">
                    <%= text_field_tag :email, nil, placeholder: 'E-mail'  %>
                    <%= password_field_tag :password, nil, placeholder: 'Senha' %>
                    <%= submit_tag "Login"%>
                    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
                    <%= label_tag :remember_me, nil %>
                    <%= link_to "Esqueci minha senha", password_resets_path %>
                </div>

          </div>
          <% end %>
        </div>

      </div>
    </div>
  </section>
<% end %>
  <section id="contact">
    <!-- <div id="google-map" class="wow fadeIn" data-latitude="-15.7942287" data-longitude="-47.8821658" data-wow-duration="1000ms" data-wow-delay="400ms"></div> -->
    <div id="contact-us" class="parallax">
      <div class="container">
        <%= render :template => "new_cap/contato"%>
      </div>
    </div>
  </section>
</body>
</html>
