<h1 class='white-font'>Editar Perfil</h1>

<%= render 'form' %>
<%= render 'profile_bar' %>

<%= form_for(@user) do |f| %>
    <%= f.label :complete_name, "Complete name:", class: 'white-font' %>
    <%= f.text_field :complete_name, class: 'form-control' %>
    <%= f.label :email, "E-mail:", class: 'white-font' %>
    <%= f.text_field :email, class: 'form-control' %>
    <%= f.label :birthday, "Birthday:", class: 'white-font' %>
    <%= f.date_field :birthday, class: 'form-control' %>
    <%= f.label :password, "Password:", class: 'white-font' %>
    <%= f.password_field :password, class: 'form-control' %>
    <%= f.label :password_confirmation, "Password Confirmation:",
        class: 'white-font' %>
    <%= f.password_field :password_confirmation,
        class: 'form-control' %>
    <div>
        <%= f.label :profile_image, "Foto de Perfil" %>
    </div>
    <span class="btn btn-default btn-file">
        Browse Files<%= f.file_field :profile_image, class: 'form-control' %>
    </span>

    <div class="actions" >
        <%= f.submit "Update Profile", class: 'btn btn-default btn-lg outline'%>
        <%= link_to "Back ", users_path,
        class: 'btn btn-default btn-lg outline
            glyphicon glyphicon glyphicon-remove'%>
    </div>
<% end %>
