<h1 class='white-font'>Sign up</h1>

<%= render 'form' %> <!--Renderiza a pagina form.html.erb-->

<!-- O front-end aqui estará se comunicando com a Controller, que irá validar os
atributos que serão passados -->

<%= form_for(@user) do |f| %>

            <%= f.label :nickname, "Nickname:", class: 'white-font' %>
            <%= f.text_field :nickname, class: 'form-control' %>
            <%= f.label :complete_name, "Complete name:", class: 'white-font' %>
            <%= f.text_field :complete_name, class: 'form-control' %>
            <%= f.label :email, "E-mail:", class: 'white-font' %>
            <%= f.text_field :email, class: 'form-control' %>
            <%= f.label :password, "Password:", class: 'white-font' %>
            <%= f.password_field :password, class: 'form-control' %>
            <%= f.label :password_confirmation, "Password Confirmation:",
            class: 'white-font' %>
            <%= f.password_field :password_confirmation,
            class: 'form-control' %>
            <%= f.check_box :terms %>
            <%= f.label :terms, "I accept terms of service" %>
    <div class="actions" >
        <%= f.submit "Sign up", class: 'btn btn-default btn-lg outline'%>
        <%= link_to "Back ", users_path,
        class: 'btn btn-default btn-lg outline
            glyphicon glyphicon glyphicon-remove'%>
    </div>
<% end %>
