<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>NewCap - Registrar</title>
  <%= render 'layouts/inner_header' %>
  <%= render 'users/form' %> <!--Renderiza a pagina form.html.erb-->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'
      rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="#">
</head><!--/head-->
<body>
  <section id="signup">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp"
            data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2>Registrar</h2>
          <p>Cadastre-se e faça parte da comunidade NewCap!</p>
        </div>

        <%= form_for(@user) do |f| %>
            <div class="buttonHolder">
                <%= f.text_field :nickname, :placeholder => "Username" %>
                <%= f.text_field :complete_name, :placeholder =>
                    "Nome Completo" %>
                <%= f.text_field :email, :placeholder => "E-mail" %>
                <%= f.password_field :password, :placeholder => "Senha" %>
                <%= f.password_field :password_confirmation,
                    :placeholder => "Confirmação de senha" %>
                <%= f.check_box :terms, :class => 'checboxCustom' %>
                <%= f.label :terms, "Eu aceito os termos de serviço",
                    :class => 'checboxCustom' %>
			          <%= f.submit "Entrar"%>
            </div>
		<% end %>
      </div>
  </section><!--/#signup-->
</body>
</html>
