<!-- Esta pagina tem como fim apenas mostrar os usuarios que foram salvos no
banco local, possivelmente não haverá aplicação para a mesma -->
<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>
<%= render 'profile_bar' %>
<div class="container">
  <div class="col-sm-9 content main-content">
    <h1><%= @user.complete_name %></h1>

    <table class="table">
      <tr>
        <td><b>Usuário:</b> <%= @user.nickname %></td>
      </tr>
      <tr>
        <td><b>E-mail:</b> <%= @user.email %></td>
      </tr>
      <tr>
        <td><b>Membro desde:</b> <%= @user.created_at.strftime(" %d/%m/%Y ") %></td>
      </tr>
      <tr>
        <td><b>Aniversario:</b> <%= @user.birthday %></td>
      </tr>
      <tr>
        <td><b>Experiencia:</b> <%= @user.experience %></td>
      </tr>
      <% if logged_in? && current_user = @user%>
      <tr>
        <td><b>Endereço:</b> <%= @user.address %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
