<%= render 'layouts/inner_header' %>
<p id="notice"><%= notice %></p>
<%= render 'profile_bar' %>
<div class="container" style="padding-bottom: 1em;">
  <div class="col-sm-10 content main-content">
    <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#perfil">Perfil</a></li>
    <% if logged_in? && current_user = @user %>
    <li><a data-toggle="tab" href="#joined">Caps inscritos</a></li>
    <li><a data-toggle="tab" href="#caps">Meus Caps</a></li>
    <li><a data-toggle="tab" href="#createcap">Criar Caps</a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div id="perfil" class="tab-pane fade in active">
      <h3><%= @user.complete_name %></h3>
      <table class="table">
        <tr>
          <td><b>Usuário:</b> <%= @user.nickname %></td>
        </tr>
        <tr>
          <td><b>E-mail:</b> <%= @user.email %></td>
        </tr>
        <tr>
          <td><b>Membro desde:</b> <%= @user.created_at.strftime(" %d/%m/%Y ") %></td>
        </tr>
        <tr>

          <td><b>Aniversario:</b> <%= @user.birthday.strftime(" %d/%m/%Y ") rescue "Não informado"%></td>
        </tr>
        <tr>
          <td><b>Experiencia:</b> <%= @user.experience %></td>
        </tr>
        <% if logged_in? && current_user = @user%>
        <tr>
          <td><b>Endereço:</b> <%= @user.address %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <% if logged_in? && current_user = @user %>
    <div id="createcap" class="tab-pane fade">
      <div id="signup" class="row" style="padding-top: 1em;">
        <%= form_for(@cap) do |f| %>
        <div class="line">
          <div class="col-md-6 quad">
            <div class="row">
                <%= f.text_field :title, :placeholder => "Nome do Cap",
                  class: 'form-control' %>
                <%= f.collection_select :tag_list, ActsAsTaggableOn::Tag.all.order(:name),
                  :name, :name, {:prompt => 'Selecione a area'} %>

                <span style="display: block;text-align: center;font-size: 18px;">
                    Data do inicio do Cap:
                </span>
                <%= f.date_field :start_at, class: 'form-control' %>

                <span style="display: block;text-align: center;font-size: 18px;">
                    Data do fim do Cap:
                </span>
                <%= f.date_field :end_at, class: 'form-control' %>

                <span style="display: block;text-align: center;font-size: 18px;">
                    Horário do inicio:
                </span>
                <%= f.time_select :time_start,
                  :combined => true,
                  :default => Time.now.change(:hour => 12, :min => 00),
                  :minute_interval => 15,
                  :time_separator => "",
                  :start_hour => 0,
                  :start_minute => 0,
                  :end_hour => 23,
                  :end_minute => 45
                %>
                <span style="display: block;text-align: center;font-size: 18px;">
                    Horário do fim:
                </span>
                <%= f.time_select :time_end,
                  :combined => true,
                  :default => Time.now.change(:hour => 14, :min => 00),
                  :minute_interval => 15,
                  :time_separator => "",
                  :start_hour => 0,
                  :start_minute => 0,
                  :end_hour => 23,
                  :end_minute => 45
                %>

                <span style="display: block;text-align: center;font-size: 18px;">
                    Quantidade de encontros:
                </span>
                <%= f.number_field :meetings, value: '1', class: 'form-control', min: 1 %>

                <span style="display: block;text-align: center;font-size: 18px;">
                    Observações:
                </span>
                <%= f.text_area :observations, :placeholder => "Descreva mais seu cap, facilite para as pessoas interessadas. Diga os dias da semana e detalhes sobre o local escolhido!",
                  class: 'form-control', rows: 8%>
            </div>
          </div>

          <div class="col-md-6 quad">
            <div class="row">
                <span style="display: block;text-align: center;font-size: 18px;">
                    Apresentação:
                </span>
                <%= f.text_area :area, :placeholder => "Máximo 1000 caractéres",
                  class: 'form-control', rows: 8%>
                <div id="locationField">
                    <%= f.text_field :address, :onfocus => "geolocate()",
                        :placeholder => "Endereço do Cap", :id => 'autocomplete',
                        class: 'form-control' %>
                </div>
                <%= f.text_field :city, :placeholder => "Cidade",
                  :id => 'locality', class: 'form-control', :disabled => 'true'-%>
                <%= f.text_field :state, :placeholder => "Estado",
                  :id => 'administrative_area_level_1', class: 'form-control',
                  :disabled => 'true'-%>
                  <span>
                      Escolha uma imagem para o seu cap
                  </span>
                  <%= f.file_field :cap_image, class: 'form-control' %>

                <!-- <%= f.text_field :country, :placeholder => "País",
                  :id => 'country', class: 'form-control', :disabled => 'true'-%> -->

                <%= f.submit "Criar" %>

                <input id="street_number" style="display:none;"></input>
                <input  id="route" style="display:none;"></input>
                <input  id="locality" style="display:none;"></input>
                <input id="administrative_area_level_1" style="display:none;"></input>
                <input  id="postal_code" style="display:none;"></input>
                <input id="country" style="display:none;"></input>

                <script src="javascripts/application.js"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDChvz7UKPFqsIuiqkmdZVGY5Nu0OUthM&signed_in=true&libraries=places&callback=initAutocomplete"
                    async defer></script>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div id="joined" class="tab-pane fade">

      <table class="table">
        <thead>
            <th>Titulo</th>
            <th>Area</th>
            <th>Data e Horario</th>
          </tr>
        </thead>
        <tbody>
          <% @joined.each do |cap| %>
            <tr>
              <td><%= cap.title %></td>
              <td><%= raw cap.tag_list.map {|tag| link_to tag, tag_path(tag)}.join(', ') %></td>
              <td><%= cap.start_at.strftime(" %d/%m/%Y") %></td>
              <td><%= link_to 'Mostrar', cap %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div id="caps" class="tab-pane fade">

      <table class="table">
        <thead>
            <th>Titulo</th>
            <th>Area</th>
            <th>Data e Horario</th>
          </tr>
        </thead>
        <tbody>
          <% @caps.each do |cap| %>
            <tr>
              <td><%= cap.title %></td>
              <td><%= raw cap.tag_list.map {|tag| link_to tag, tag_path(tag)}.join(', ') %></td>
              <td><%= cap.start_at.strftime(" %d/%m/%Y") %></td>
              <td><%= link_to 'Mostrar', cap %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
  </div>
</div>
