<!-- Esta pagina tem como fim apenas mostrar os usuarios que foram salvos no
banco local, possivelmente não haverá aplicação para a mesma -->

<p id="notice"><%= notice %></p>
<%= render 'profile_bar' %>
<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Complete name:</strong>
  <%= @user.complete_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @user.experience %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @user.address %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @user.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @user.longitude %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
