<!-- <p id="notice"><%= notice %></p> -->
<%= render 'layouts/inner_header' %>
<h1>Caps</h1>

<% tag_cloud ActsAsTaggableOn::Tag.all.order(:name), %w[btn] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
<% end %>
<div id="calendar">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>

    <%= date.day %>
    <% if @caps_by_date[date] %>
      <ul>
        <% @caps_by_date[date].each do |cap| %>
        <%= link_to cap.title, cap %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Dono</th>
      <th>Titulo</th>
      <th>Area</th>
      <th>Data e Horario</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @caps.each do |cap| %>
      <tr>
        <td><%= cap.user.nickname %></td>
        <td><%= cap.title %></td>
        <td><%= cap.area %></td>
        <td><%= cap.date.strftime(" %d/%m/%Y %H:%M") %></td>
        <td><%= link_to 'Show', cap %></td>
        <% if logged_in? && current_user = cap.user%>
            <td><%= link_to 'Remove', cap_path(cap), method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to 'Participar', new_cap_participation_path(cap) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if logged_in? %>
<%= link_to 'New', new_cap_path %>
<% end %>
