<p id="notice"><%= notice %></p>

<h1>Caps</h1>

<% tag_cloud ActsAsTaggableOn::Tag.all, %w[] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Dono</th>
      <th>Titulo</th>
      <th>Area</th>
      <th>Data e Horario</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @caps.each do |cap| %>
      <tr>
        <td><%= cap.user.complete_name %></td>
        <td><%= cap.title %></td>
        <td><%= cap.area %></td>
        <td><%= cap.date %></td>
        <td><%= link_to 'Show', cap %></td>
        <% if logged_in? && current_user = cap.user%>
            <td><%= link_to 'Remove', cap_path(cap), method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to 'Participar', new_cap_participation_path(cap) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if logged_in? %>
<%= link_to 'New', new_cap_path %>
<% end %>
