<h1 class='white-font'>New Cap</h1>

<%= render 'form' %>

<%= form_for(@cap) do |f| %>

        <%= f.label :title, "Titulo:", class: 'white-font' %>
        <%= f.text_field :title, class: 'form-control' %>
        <%= f.label :tag_list, "Área:", class: 'white-font' %>
        <%= f.collection_select :tag_list, ActsAsTaggableOn::Tag.all, :name, :name %>
        <%= f.label :date, "Data e Horário:", class: 'white-font' %>
        <%= f.datetime_local_field :date, class: 'form-control' %>
        <%= f.label :address, "Local do Cap:", class: 'white-font' %>
        <%= f.text_field :address, class: 'form-control' %>
        <%= f.label :city, "Cidade:", class: 'white-font' %>
        <%= f.text_field :city, :id => 'locality', class: 'form-control',
            :disabled => 'true'-%>
        <%= f.label :state, "Estado:", class: 'white-font' %>
        <%= f.text_field :state, :id => 'administrative_area_level_1',
            class: 'form-control', :disabled => 'true'-%>
        <%= f.label :country, "País:", class: 'white-font' %>
        <%= f.text_field :country, :id => 'country', class: 'form-control',
            :disabled => 'true'-%>

        <%= f.submit "Criar", class: 'btn btn-default btn-lg outline'%>
        <%= link_to "Voltar ", caps_path,
        class: 'btn btn-default btn-lg outline
            glyphicon glyphicon glyphicon-remove'%>

        <input id="street_number" style="display:none;"></input>
        <input  id="route" style="display:none;"></input>
        <input  id="locality" style="display:none;"></input>
        <input id="administrative_area_level_1" style="display:none;"></input>
        <input  id="postal_code" style="display:none;"></input>
        <input id="country" style="display:none;"></input>

        <script src="javascripts/application.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDChvz7UKPFqsIuiqkmdZVGY5Nu0OUthM&signed_in=true&libraries=places&callback=initAutocomplete"
            async defer></script>
<% end %>
