<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>
<p>
  <strong>Usuario:</strong>
  <%= @cap.user.complete_name %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @cap.title %>
</p>

<p>
  <strong>Categorias:</strong>
  <%= raw @cap.tag_list.map {|tag| link_to tag, tag_path(tag)}.join(', ') %>
</p>

<p>
  <strong>Data e Horário:</strong>
  <%= @cap.date %>
</p>

<p>
  <strong>Local do cap:</strong>
  <%= @cap.address %>
</p>

<table class="table">
  <thead>
      <th>Participante (Username)</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nickname %></td>
        <td><%= user.complete_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Distancia do cap:</strong>
  <%= @cap.distance_to([current_user.latitude, current_user.longitude]) %>
</p>
<%= content_tag(:div, "", id: "google-map", class: "wow fadeIn", "data-latitude"=> @cap.latitude, "data-longitude"=> @cap.longitude, "data-wow-duration"=>"1000ms", "data-wow-delay"=>"400ms") %>
<!-- <div id="google-map" class="wow fadeIn" data-latitude="-15.7942287" data-longitude="-47.8821658" data-wow-duration="1000ms" data-wow-delay="400ms"></div> -->
