<%= render 'layouts/inner_header' %>
<div class="container">
<p id="notice"><%= notice %></p>
<div id="container-outer">
  <div id="container-inner">
    <%=  image_tag(
        @cap.cap_image_file_name.blank? ? "camera-outline" :
        @cap.cap_image.url, alt: @cap.title, class: "cap-img") %>
  </div>
</div>

<% if logged_in? && current_user = @cap.user %>
  <div id="signup">
    <%= form_for(@cap) do |f| %>
      <% if   @cap.cap_image_file_name.blank?%>
        <span>
            Escolha uma imagem para o seu Cap
        </span>
      <% else %>
        <span>
            Altere uma imagem para o seu Cap
        </span>
      <% end %>
        <%= f.file_field :cap_image, class: 'form-control' %>
        <%= f.submit "Salvar" %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
    <h2><%= @cap.title %></h2>
    <h3>Apresentação</h3>
    <p><%= @cap.area %></p>
    <p>Para ser um Expositor com a newcap você não precisa ser ligado a nenhuma instituição de ensino, possuir certificações e muito menos de uma sala de aula convencional. </p>
  </div>
</div>


<p>
  <strong>Expositor:</strong>
  <%= link_to @cap.user.nickname, @cap.user %>
</p>

<p>
  <strong>Observações:</strong>
  <%= @cap.observations %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= raw @cap.tag_list.map {|tag| link_to tag, tag_path(tag)}.join(', ') %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @cap.start_at.strftime(" %d/%m/%Y") %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @cap.end_at.strftime(" %d/%m/%Y") %>
</p>

<p>
  <strong>Horario de inicio:</strong>
  <%= @cap.time_start.strftime(" %M:%S") %>
</p>

<p>
  <strong>Horario de fim:</strong>
  <%= @cap.time_end.strftime(" %M:%S") %>
</p>

<p>
  <strong>Encontros:</strong>
  <%= @cap.meetings %>
</p>

<p>
  <strong>Local do cap:</strong>
  <%= @cap.address %>
</p>
 <td><%= link_to 'Participar', new_cap_participation_path(@cap) %></td>

<table class="table">
  <h1>Participantes</h1>
  <thead>
      <th>Participante</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nickname %></td>
        <td><%= user.complete_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Distancia do cap:</strong>
  <%= @cap.distance_to([current_user.latitude, current_user.longitude]) %>
</p>
<%= content_tag(:div, "", id: "google-map", class: "wow fadeIn", "data-latitude"=> @cap.latitude, "data-longitude"=> @cap.longitude, "data-wow-duration"=>"1000ms", "data-wow-delay"=>"400ms") %>
</div>
<!-- <div id="google-map" class="wow fadeIn" data-latitude="-15.7942287" data-longitude="-47.8821658" data-wow-duration="1000ms" data-wow-delay="400ms"></div> -->
