<p id="notice"><%= notice %></p>
<p>
  <strong>Usuario:</strong>
  <%= @cap.user.complete_name %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @cap.title %>
</p>

<p>
  <strong>Categorias:</strong>
  <%= raw @cap.tag_list.map {|tag| link_to tag, tag_path(tag)}.join(', ') %>
</p>

<p>
  <strong>Data e Horário:</strong>
  <%= @cap.date %>
</p>

<p>
  <strong>Local do cap:</strong>
  <%= @cap.address %>
</p>

<p>
  <strong>Distancia do cap:</strong>
  <%= @cap.distance_to([current_user.latitude, current_user.longitude]) %>
</p>

<% if logged_in? && current_user = @cap.user%>
<%= link_to 'Edit', edit_cap_path(@cap) %> |
<% end %>
<%= link_to 'Back', caps_path %>
