<!DOCTYPE html>
<html>
<head>
  <title>NewCap</title>
  <%= stylesheet_link_tag    'application', media: 'all',
  'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container-fluid">
        <div class="login-signup-content text-center">
            <%= yield %>
        </div>
</div>

</body>
</html>
