<!DOCTYPE html>
<html>
<head>
    <title>NewCap</title>
    <%= stylesheet_link_tag    'application', media: 'all',
    'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div id="user_header">
    <% if logged_in? %>
        Logged in as <%= current_user.email %>
        <%= link_to "Log Out", logout_path %> or
        <%= link_to "Edit", edit_user_path(current_user) %>
    <% else %>
        <%= link_to "Sign Up", signup_path %> or
        <%= link_to "Log In", login_path %>

    <% end %>
</div>

<div class="container-fluid">
    <% flash.each do |key, value| %>
        <%= content_tag(:div, class: "alert alert-#{key}") do %>
            <p><%= value %></p>
        <% end %>
    <% end %>

    <div class="row">
        <% if logged_in? %>
            <div class="col-sm-9">
                <%= yield %>
            </div>
        <% else %>
            <div class="col-sm-4 login-signup-content">
                <%= yield %>
            </div>
        <% end %>
    </div>
</div>

</body>
</html>
